{:builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn app.core/main}}
        :output-dir "public/js"
        :target :browser}}
 :dependencies [[reagent "0.8.1"]
                [cljs-ajax "0.8.1"]
                ;; main routing lib
                [metosin/reitit "0.5.11"]
                ;; spec: for data coercion/ validation
                [metosin/reitit-spec "0.5.11"]
                ;; for frontend routing
                [metosin/reitit-frontend "0.5.11"]
                [devcards "0.2.6"]]
 :dev-http {4200 "public"}
 :nrepl {:port 3333}
 :source-paths ["src"]}
